/** 
 * args.config
 *
 * A Nextflow config file for arguments to processes.
*/


process {
    withName: 'bwa_mem2_index' {
        ext.argsUser = [:]
    }
    
    withName: 'bwa_mem2_mem' {
        ext.argsUser = [:]
    }

    withName: 'cutadapt' {
        ext.argsUser = [:]
    }

    withName: 'fastp' {
        ext.argsUser = [:]
    }

    withName: 'fastqc' {
        ext.argsUser = [:]
    }

    withName: 'star_genomeGenerate' {
        ext.argsUser = [:]
    }

    withName: 'star_runMapping' {
        ext.argsUser = [:]
    }
}
