/**
 * params.config
 *
 * A Nextflow config file for pipeline params.
*/


params {
    // necessary inputs/run information
    samplesheet  = 'data/samplesheets/samplesheet.csv'
    projectTitle = '{{ cookiecutter.project_slug }}'

    // reference information
    genome      = ''
    annotations = ''
}
