/**
 * profiles.config
 *
 * A Nextflow config file for pipeline profiles
*/


profiles {
    isaac_0171 {
        workDir = "${SCRATCHDIR}/nf_work/{{ cookiecutter.project_slug }}"

        process {
            executor = 'slurm'
            clusterOptions = '--account=ACF-UTK0171 --partition=condo-trowan1 --qos=condo --nodes=1'
        }

        executor {
            queueSize = 50
            submitRateLimit = '10/1min'
        }

        singularity {
            enabled    = true
            cacheDir   = "${SCRATCHDIR}/singularity"
            autoMounts = true
        }
    }
}
