manifest {
    author            = 'Trevor F. Freeman; Ryan D. Kuster'
    defaultBranch     = 'main'
    recurseSubmodules = true
    description       = 'A flexible pipeline for RNA-Seq.'
    mainScript        = 'main.nf'
    name              = 'trev-f/utia_rnaseq'
    nextflowVersion   = '>=21.04'
    version           = 'v0.0.1'
}

params {
    /*
    ---------------------------------------------------------------------
        Reads QC parameters
    ---------------------------------------------------------------------
    */

    skipRawFastQC        = false

    /*
    ---------------------------------------------------------------------
        Read-trimming parameters
    ---------------------------------------------------------------------
    */

    trimTool             = 'fastp'
    adapterR1            = ''
    adapterR2            = ''
    skipTrimReads        = false
    skipTrimFastQC       = false

    /*
    ---------------------------------------------------------------------
        Alignment parameters
    ---------------------------------------------------------------------
    */

    alignmentTool        = 'star'
    skipAlignmentStatsQC = false
}


profiles {
    isaac {
        workDir = "${SCRATCHDIR}/work/"

        executor {
            queueSize = 50
            submitRateLimit = '2sec'
        }

        singularity {
            enabled = true
            cacheDir = "/nfs/home/${USER}/singularity/"
            autoMounts = true
        }

        process {
            publish_dir = "${SCRATCHDIR}/publish/"
            executor = 'slurm'
            withLabel: lil_mem {
                clusterOptions = '-A ISAAC-UTK0192 \
                                  -p condo-ut-genomics \
                                  -q genomics'
                cpus = 2
            }
            withLabel: med_mem {
                clusterOptions = '-A ISAAC-UTK0192 \
                                  -p condo-ut-genomics \
                                  -q genomics'
                cpus = 8
            }
            withLabel: big_mem {
                clusterOptions = '-A ISAAC-UTK0192 \
                                  -p condo-ut-genomics \
                                  -q genomics'
                cpus = 16
            }
            withLabel: sup_mem {
                clusterOptions = '-A ISAAC-UTK0192 \
                                  -p condo-ut-genomics \
                                  -q genomics'
                cpus = 16
                maxForks = 1
            }

        }
    }
}


/*
---------------------------------------------------------------------
    Reporting
---------------------------------------------------------------------
*/

timestamp = new java.util.Date().format('yyyy-MM-dd_HH-mm')

dag {
    enabled = true
    file    = "${timestamp}_dag.html"
}

report {
    enabled = true
    file    = "${timestamp}_report.html"
}

timeline{
    enabled = true
    file    = "${timestamp}_timeline.html"
}

trace {
    enabled = true
    file    = "${timestamp}_trace.html"
}
