docker {
    enabled = true
    temp = 'auto'
}

profiles {

    test {

        docker {
            enabled = true
            temp = 'auto'
        }

        params {
            help = null

            baseDirReport = "${PWD}/results/reports"
            baseDirData   = "${PWD}/results/data"
        }
    }
}