manifest {
    author            = 'Trevor F. Freeman'
    defaultBranch     = 'main'
    recurseSubmodules = true
    description       = 'A flexible pipeline for short read alignment to a reference.'
    mainScript        = 'main.nf'
    name              = 'trev-f/SRAlign'
    nextflowVersion   = '>=21.04'
    version           = 'v1.0.3'
}

params {
    /*
    ---------------------------------------------------------------------
        I/O
        Input/Output parameters
    ---------------------------------------------------------------------
    */

    baseDirGenome = "${PWD}/data/references"
    baseDirReport = "${PWD}/results/reports"
    baseDirData   = "${PWD}/results/data"

    /*
    ---------------------------------------------------------------------
        Report QC
        QC reporting parameters
    ---------------------------------------------------------------------
    */

    multiqcConfig = "${projectDir}/configs/full_multiqc_config.yaml"

    /*
    ---------------------------------------------------------------------
        References
        Reference parameters
    ---------------------------------------------------------------------
    */

    contaminant = 'EB1'

    /*
    ---------------------------------------------------------------------
        Reads QC
        Reads QC parameters
    ---------------------------------------------------------------------
    */

    skipReadsQC               = false
    skipDedicatedReadsMultiQC = false
    skipRawFastQC             = false

    /*
    ---------------------------------------------------------------------
        Trim reads
        Read-trimming parameters
    ---------------------------------------------------------------------
    */

    trimTool       = 'fastp'
    adapterR1      = ''
    adapterR2      = ''
    skipTrimReads  = false
    skipTrimFastQC = false

    /*
    ---------------------------------------------------------------------
        Alignment
        Alignment parameters
    ---------------------------------------------------------------------
    */

    alignmentTool         = 'bowtie2'
    forceAlignRawReads    = false
    forceUseHisat2Index   = true
    buildSpliceAwareIndex = false
    skipAlignGenome       = false
    skipAlignContam       = false

    /*
    ---------------------------------------------------------------------
        Library QC 
        Library QC parameters
    ---------------------------------------------------------------------
    */

    skipAlignmentStatsQC = false

    /*
    ---------------------------------------------------------------------
        Library complexity
        Library complexity parameters
    ---------------------------------------------------------------------
    */

    skipPreseq = false

    /*
    ---------------------------------------------------------------------
        Resources
        Resources default parameters
    ---------------------------------------------------------------------
    */
   
    maxCpus   = 16
    maxMemory = '24.GB'
    maxTime   = '24.h'

    /*
    ---------------------------------------------------------------------
        Miscellaneous
        Mescellaneous parameters
    ---------------------------------------------------------------------
    */

    seed      = 40
    help      = null
    dummyFile = "${projectDir}/bin/dummy.txt"
}


profiles {
    docker {
        docker.enabled = true
    }
    google {
        process.executor = 'google-lifesciences'
        workDir          = 'gs://esctffno/scratch'
        google.location  = 'us-central1'
        google.region    = 'us-central1'
        google.project   = 'no-chr'
    }
    test {
        docker.enabled     = true
        params.maxMemory   = '4.GB'
        params.input       = 'https://github.com/trev-f/SRAlign-test/raw/main/inputs/ATAC-seq_Celegans_design_reads.csv'
        params.genome      = 'testWBcel235'
        params.contaminant = 'testEB1'
    }
    testBam {
        docker.enabled     = true
        params.maxMemory   = '4.GB'
        params.input       = 'https://github.com/trev-f/SRAlign-test/raw/main/inputs/ATAC-seq_Celegans_design_bams.csv'
        params.genome      = 'testWBcel235'
        params.contaminant = 'testEB1'
    }
    dryRun {
        params.skipRawFastQC   = true
        params.skipTrimReads   = true
        params.skipTrimReadsQC = true
        params.skipAlignGenome = true
        params.skipSamStatsQC  = true
        params.skipAlignContam = true
        params.skipPreseq      = true
    }
}


/*
    Include other config files
*/

// Load genomes config file
includeConfig 'configs/genomes.config'

// Load modules config file
includeConfig 'configs/modules.config'

// Load resources config file
includeConfig 'configs/resources.config'


/*
    Reporting
*/

timestamp = new java.util.Date().format('yyyy-MM-dd_HH-mm')

dag {
    enabled = true
    file    = "${params.baseDirReport}/tracing/${timestamp}_dag.html"
}

report {
    enabled = true
    file    = "${params.baseDirReport}/tracing/${timestamp}_report.html"
}


timeline{
    enabled = true
    file    = "${params.baseDirReport}/tracing/${timestamp}_timeline.html"
}


trace {
    enabled = true
    file    = "${params.baseDirReport}/tracing/${timestamp}_trace.html"
}
