process {
    withName: 'bwa_mem2_index' {
        ext.argsDefault = [:]
    }

    withName: 'bwa_mem2_mem' {
        ext.argsDefault = [:]
    }

    withName: 'cutadapt' {
        ext.argsDefault = [:]
    }
    
    withName: 'fastp' {
        ext.argsDefault = [
            '--trim_poly_g': '',
            '--length_required': '31',
        ]
    }

    withName: 'fastqc' {
        ext.argsDefault = [:]
    }

    withName: 'gatk_MarkDuplicates' {
        ext.argsDefault = [
            '--VALIDATION_STRINGENCY': 'SILENT',
            '--OPTICAL_DUPLICATE_PIXEL_DISTANCE': '2500',
        ]
    }

    withName: 'gatk_MergeSamFiles' {
        ext.argsDefault = [
            '--VALIDATION_STRINGENCY': 'SILENT',
        ]
    }

    withName: 'multiqc' {
        ext.argsDefault = [:]
    }

    withName: 'qualimap_rnaseq' {
        ext.argsDefault = [:]
    }

    withName: 'star_genomeGenerate' {
        ext.argsDefault = [:]
    }

    withName: 'star_runMapping' {
        ext.argsDefault = [:]
    }
}
