process {
    withLabel: 'base' {
        container = 'biocontainers/biocontainers:v1.2.0_cv2'
    }

    withLabel: 'biopython' {
        container = 'https://depot.galaxyproject.org/singularity/biopython%3A1.78'
    }

    withLabel: 'bwa_mem2' {
        container = 'https://depot.galaxyproject.org/singularity/bwa-mem2%3A2.2.1--hd03093a_5'
    }

    withLabel: 'cutadapt' {
        container = "https://depot.galaxyproject.org/singularity/cutadapt%3A4.4--py39hf95cd2a_1"
    }

    withLabel: 'fastp' {
        container = 'https://depot.galaxyproject.org/singularity/fastp%3A0.23.4--hadf994f_2'
    }

    withLabel: 'fastqc' {
        container = "https://depot.galaxyproject.org/singularity/fastqc%3A0.12.1--hdfd78af_0"
    }

    withLabel: 'gatk' {
        container = 'https://depot.galaxyproject.org/singularity/gatk4%3A4.4.0.0--py36hdfd78af_0'
    }

    withLabel: 'multiqc' {
        container = "https://depot.galaxyproject.org/singularity/multiqc%3A1.14--pyhdfd78af_0"
    }

    withLabel: 'samtools' {
        container = 'https://depot.galaxyproject.org/singularity/samtools%3A1.17--hd87286a_1'
    }

    withLabel: 'star' {
        container = 'https://depot.galaxyproject.org/singularity/star%3A2.7.11a--h0033a41_0'
    }
}
