process {
    withLabel: 'base' {
        container = 'biocontainers/biocontainers:v1.2.0_cv2'
    }

    withLabel: 'cutadapt' {
        container = "https://depot.galaxyproject.org/singularity/cutadapt%3A4.4--py39hf95cd2a_1"
    }

    withLabel: 'fastp' {
        container = 'https://depot.galaxyproject.org/singularity/fastp%3A0.23.4--hadf994f_2'
    }

    withLabel: 'fastqc' {
        container = "https://depot.galaxyproject.org/singularity/fastqc%3A0.12.1--hdfd78af_0"
    }

    withLabel: 'multiqc' {
        container = "https://depot.galaxyproject.org/singularity/multiqc%3A1.14--pyhdfd78af_0"
    }

    withLabel: 'samtools' {
        container = "quay.io/biocontainers/samtools:1.17--h00cdaf9_0"
    }
}
