process {
    withLabel: 'base' {
        container = 'biocontainers/biocontainers:v1.2.0_cv2'
    }

    withLabel: 'cutadapt' {
        container = "quay.io/biocontainers/cutadapt:4.3--py310h1425a21_0"
    }

    withLabel: 'fastqc' {
        container = "quay.io/biocontainers/fastqc:0.12.1--hdfd78af_0"
    }

    withLabel: 'multiqc' {
        container = "quay.io/biocontainers/multiqc:1.14--pyhdfd78af_0"
    }

    withLabel: 'samtools' {
        container = "quay.io/biocontainers/samtools:1.17--h00cdaf9_0"
    }
}
