profiles {
    nf_test {
        params {
            projectTitle  = 'ngs_nf-test'
            samplesheet   = 'https://github.com/utia-gc/ngs-test/raw/ngs/samplesheets/samplesheet_lanes_mix.csv'
            genome        = "https://github.com/utia-gc/ngs-test/raw/ngs/data/references/R64-1-1/genome_I.fa.gz"
            annotations   = "https://github.com/utia-gc/ngs-test/raw/ngs/data/references/R64-1-1/annotations_I.gtf.gz"

            // max resources
            maxCpus   = 2
            maxMemory = '4.GB'
            maxTime   = '15.m'
        }
        
        singularity {
            enabled = true
            cacheDir = "${SCRATCHDIR}/singularity/"
            autoMounts = true
        }
    }
}
