dag {
    enabled = true
    file    = "${params.publishDirReports}/summary/${timestamp}_dag.html"
}

report {
    enabled = true
    file    = "${params.publishDirReports}/summary/${timestamp}_report.html"
}

timeline{
    enabled = true
    file    = "${params.publishDirReports}/summary/${timestamp}_timeline.html"
}

trace {
    enabled = true
    file    = "${params.publishDirReports}/summary/${timestamp}_trace.html"
}
