dag {
    enabled   = true
    file      = "${params.publishDirReports}/summary/${timestamp}_dag.html"
    overwrite = true
}

report {
    enabled   = true
    file      = "${params.publishDirReports}/summary/${timestamp}_report.html"
    overwrite = true
}

timeline{
    enabled   = true
    file      = "${params.publishDirReports}/summary/${timestamp}_timeline.html"
    overwrite = true
}

trace {
    enabled   = true
    file      = "${params.publishDirReports}/summary/${timestamp}_trace.txt"
    overwrite = true
}
