timestamp = new java.util.Date().format('yyyy-MM-dd_HH-mm')

dag {
    enabled = true
    file    = "${process.publish_dir}/summary/${timestamp}_dag.html"
}

report {
    enabled = true
    file    = "${process.publish_dir}/summary/${timestamp}_report.html"
}

timeline{
    enabled = true
    file    = "${process.publish_dir}/summary/${timestamp}_timeline.html"
}

trace {
    enabled = true
    file    = "${process.publish_dir}/summary/${timestamp}_trace.html"
}
