profiles {

    eight {

        executor {
            queueSize = 8
        }

        process {
            withLabel: lil_mem {
                cpus = 2
            }
            withLabel: med_mem {
                cpus = 4
            }
            withLabel: big_mem {
                cpus = 8
            }
            withLabel: sup_mem {
                cpus = 8
                maxForks = 1
            }

        }
    }

    sixteen {

        executor {
            queueSize = 16
        }

        process {
            withLabel: lil_mem {
                cpus = 2
            }
            withLabel: med_mem {
                cpus = 8
            }
            withLabel: big_mem {
                cpus = 16
            }
            withLabel: sup_mem {
                cpus = 16
                maxForks = 1
            }

        }
    }

    thirty_two {

        executor {
            queueSize = 32
        }

        process {
            withLabel: lil_mem {
                cpus = 2
            }
            withLabel: med_mem {
                cpus = 8
            }
            withLabel: big_mem {
                cpus = 16
            }
            withLabel: sup_mem {
                cpus = 16
                maxForks = 1
            }

        }
    }

}

