/*
Nextflow config file for genome paths.

Defines files for reference genomes by copying the path layout of Illumina's iGenomes. This makes it easily adaptable.
Some parameters that are not contained in iGenomes are also provided. These values are indicated with comments to the side.
*/

params {
    genomes {
        'WBcel235' {
            fasta       = "${params.baseDirGenome}/Caenorhabditis_elegans/Ensembl/WBcel235/Sequence/WholeGenomeFasta/genome.fa"
            bwa         = "${params.baseDirGenome}/Caenorhabditis_elegans/Ensembl/WBcel235/Sequence/BWAIndex/genome.fa"
            bowtie2     = "${params.baseDirGenome}/Caenorhabditis_elegans/Ensembl/WBcel235/Sequence/Bowtie2Index/genome"
        }

        'EB1' {
            fasta       = "${params.baseDirGenome}/Escherichia_coli_K_12_DH10B/Ensembl/EB1/Sequence/WholeGenomeFasta/genome.fa"
            bwa         = "${params.baseDirGenome}/Escherichia_coli_K_12_DH10B/Ensembl/EB1/Sequence/BWAIndex/genome.fa"
            bowtie2     = "${params.baseDirGenome}/Escherichia_coli_K_12_DH10B/Ensembl/EB1/Sequence/Bowtie2Index/genome"
        }

        'ce10' {
            fasta       = "${params.baseDirGenome}/Caenorhabditis_elegans/UCSC/ce10/Sequence/WholeGenomeFasta/genome.fa"
            bowtie2     = "${params.baseDirGenome}/Caenorhabditis_elegans/UCSC/ce10/Sequence/Bowtie2Index/genome"
        }
        'testWBcel235' {
            fasta       = "${projectDir}/test/data/references/test_WBcel235_III/III.fa"
            genes       = "${projectDir}/test/data/references/test_WBcel235_III/genes.gtf"
        }
        'testEB1' {
            fasta       = "${projectDir}/test/data/references/test_EB1/genome.fa"
        }
    }
}
