process {
    withName: 'Hisat2Build' {
        ext.args =
            """\
            --seed ${params.seed} \
            """
    }

    withName: 'Hisat2Align' {
        ext.args =
            """\
            --seed ${params.seed} \
            """
    }

    withName: 'SeqtkSample' {
        ext.seed       = 100
        ext.sampleSize = 50000
    }

    withName: 'DeepToolsMultiBamSummary' {
        ext.args.multiBamSummary =
            '''\
            --binSize 10000 \
            '''

        ext.args.plotCorrelation =
            '''\
            --corMethod spearman \
            --whatToPlot heatmap \
            '''

        ext.args.plotPCA =
            '''\
            --PCs 1 2 \
            --log2 \
            '''
    }
}